<div class="modal fade" id="addCardModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add new job call</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/" novalidate>
                <input type="hidden" name="form_type" value="ADD_CARD">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="job_title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="job_title" name="job_title">
                    </div>
                    <div class="row">
                        <div class="form-group col form-inline mb-0">
                            <label for="job_type" class="col-form-label mx-2">Type</label>
                            <select class="custom-select custom-select-sm border-dark bg-transparent mr-sm-2" id="job_type" name="job_type">
                                <option value="INTERNAL" selected>Internal</option>
                                <option value="EXTERNAL">External</option>
                            </select>
                        </div>
                        <div class="form-check col form-check-inline">
                            <input type="checkbox" class="form-check-input" id="job_favourite" name="job_favourite">
                            <label class="form-check-label" for="job_favourite">Favourite</label>
                        </div>
                    </div>
                    <div class="form-group" id="job_customer_show">
                        <label for="job_customer" class="col-form-label">Customer:</label>
                        <input type="text" class="form-control" id="job_customer" name="job_customer">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-success" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>